@font-face {
    font-family: 'Torus';
    src: url('Torus Regular.otf');
}

body {
    text-align: center;
    font-family: Torus;
    margin: 40px;
    padding: 0px;
}

.show {
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 0px;
    max-width: 500px;
    min-width: 200px;
    margin-bottom: 0px;
}

.small-break::after {
    content: ""; 
    display: block;
    height: 10px;
}

h2 {
    margin-bottom: 20px;
    line-height: 25px;
}

p {
    margin-top: 10px;
}

/* For image container, display images and text in grid */
.image-container {
    display: grid;
    grid-template-columns: 1fr; /* Default: 1 location per row */
    gap: 20px; /* Space between location items */
}

/* For larger screens, display 2 locations per row */
@media (min-width: 768px) {
    .image-container {
        grid-template-columns: 1fr 1fr; /* 2 locations per row */
    }
}

/* Style for each location item (image + description) */
.location-item {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}